*.pem

__pycache__/
*.py[cod]
*.pyo
*.pyd

node_config.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
cleanenv/

# macOS junk
.DS_Store

# Key files
*.pem
*.key

# Logs and local settings
*.log
*.sqlite
*.db

# Secrets
.env
*.env

# IDEs
.vscode/
.idea/

# Cache
.cache/

#postgres
psycopg2/